.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0 35px;
  margin-top: 27px;
  margin-left: 37px;
  width: 90%;
}
.main {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 0 35px;
  margin-bottom: 70px;
  margin-top: 8px;
}

.order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 95%;
  position: relative;
}

.form button {
  display: none;
}

@media (min-width: 992px) {
  .form button {
    display: block;
  }
}

@media (min-width: 1200px) {
  .main {
    width: 70%;
  }
  .container {
    flex-direction: row;
    align-items: flex-start;
  }
}
@media (min-width: 1500px) {
  .main {
    width: 50%;
  }
}
